@model IEnumerable<FoodWeb.Models.Order>


@{
    ViewBag.Title = "ListOfOrders";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            List Of Orders
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Orders</li>
        </ol>
    </section>
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Orders</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>User name</th>
                                        <th>Item Name</th>
                                        <th>Order Date</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Sub Total</th>
                                        <th>Order Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Reverse())
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.invoices.ID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.invoices.user.Name)</td>

                                            <td>@Html.DisplayFor(modelItem => item.prodcts.ProductName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Order_Date)</td>
                                            <td><span>@Html.DisplayFor(modelItem => item.Qty)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Unit_Price)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Order_Bill)</td>
                                            <td>
                                                <span>
                                                    <select class="label label-default" name="OrderStatus" id="OrderStatus">
                                                        <option>Preparing</option>
                                                        <option>On Way</option>
                                                        <option>Done</option>
                                                    </select>

                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->


                    <div class="box-footer clearfix">
                        <h2 class="pull-right">Total: @TempData["OrderTotal"]</h2>
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
</div>